.DS_Store
*.env
*/__pycache__
.claude/settings.local.json
# keep only CIPM/LV1/translated_html
CIPM/*
!CIPM/LV1/
CIPM/LV1/*
!CIPM/LV1/translated_html/

# keep only CFA/LV1/translated_html
CFA/*
!CFA/LV1/
CFA/LV1/*
!CFA/LV1/translated_html/

